---
ID: 38
title: Eventos
image-xl: >
  https://assets.gruponews.com.br/gruponews/uploads/2009/11/q1rncn_gqbk-cody-aulidge-1920x1080.jpg
image-l: >
  https://assets.gruponews.com.br/gruponews/uploads/2009/11/q1rncn_gqbk-cody-aulidge-1280x720.jpg
image-sq-l: >
  https://assets.gruponews.com.br/gruponews/uploads/2009/11/q1rncn_gqbk-cody-aulidge-1280x1280.jpg
image-sq-m: >
  https://assets.gruponews.com.br/gruponews/uploads/2009/11/q1rncn_gqbk-cody-aulidge-720x720.jpg
post_excerpt: ""
layout: page
permalink: eventos/index.html
published: true
categories:
  - Geral
tags: ""
author: ""
post_date: 2009-11-23 16:17:05
---
<p class="small">Os eventos podem sofrer alterações sem aviso prévio</p>

<div class="events">
{% for evento in site.data.upcomingEvents %}
  <div class="event"  itemscope itemtype="http://schema.org/Event">
    {% assign date_format = site.date_format | default: "%-d.%m.%Y" %}
    {% if evento.event.event_start_date == evento.event.event_end_date %}
    <span itemprop="startDate" content="{{evento.event.event_start_date}}T{{evento.event.event_start_time}}">{{evento.event.event_start_date | date: date_format }}</span>
    {% else %}
    <span><span itemprop="startDate" content="{{evento.event.event_start_date}}T{{evento.event.event_start_time}}">{{evento.event.event_start_date | date: date_format }}</span> à <span itemprop="endDate" content="{{evento.event.event_end_date}}T{{evento.event.event_end_time}}">{{evento.event.event_end_date | date: date_format }}</span></span>
    {% endif %}
    <h2>{{evento.title}}</h2>
    <a itemprop="url" href="{{evento.url}}">Veja mais</a>
  </div>
{% endfor %}
</div>
